
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iran_sans_medi;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black

}
header{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: Aqua;
    font-weight: 700;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    display: inline-block;
    color: white;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: yellow;
    font-size: 4em;
    line-height: 1.9em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .textBox h2 span{
    font-size: 2em;
}
.content .textBox p{
    color: white;
}
.content .textBox a{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: green;
    color: black;
    border-radius: 70px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .imgBox{
    width: 900px;
    display: flex;
    padding-right: 200px;
    margin-top: 20px;
    justify-content: flex-end;
}
.content .imgBox img{
    max-width: 1000px;
}


